body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#contact {
	text-align: left;
}

button {
	background-color: #ffdb00;
	border-radius: 16px;
	height: 100px;
	width: 100px;
	margin: 20px;
}

button:hover {
	background-color: orange; 
	color: white;
}

.interests .specific{
	display:flex;
	justify-content: space-between;
}

.interests span img {
	height: 150px;
	width: 150px;
}




